@use "../utils/mixins" as *;

.collapse {
  width: 100%;
  margin-bottom: 20px;

  &__header {
    background-color: #ff6060;
    color: white;
    height: 52px;
    padding: 0 15px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;

    @include mobile {
      height: 30px;
      padding: 0 10px;
    }
  }

  &__title {
    margin: 0;
    font-size: 24px;

    @include mobile {
      font-size: 13px;
    }
  }

  &__icon {
    transition: transform 0.3s ease;
    font-size: 30px;

    &.open {
      transform: rotate(180deg);
    }

    @include mobile {
      font-size: 20px;
    }
  }

  &__content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease, padding 0.3s ease;
    background-color: #f6f6f6;
    border-radius: 0 0 5px 5px;
    padding: 0 20px;

    &.open {
      max-height: 500px;
      padding: 15px 20px;
    }

    p {
      margin: 0;
      color: #000;
      font-size: 18px;
      font-weight: 400;
      line-height: 143%;
    }

    ul {
      list-style: none;
      padding-left: 0;
      margin: 0;

      li {
        font-size: 18px;
        font-weight: 400;
        line-height: 143%;
        color: #000;
      }
    }

    @include mobile {
      p,
      li {
        font-size: 12px;
      }
    }
  }
}
