.tag {
  background-color: #ff6060;
  color: white;
  padding: 5px 20px;
  border-radius: 10px;
  font-size: 14px;
  font-weight: 500;
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 10px;
}
