@use "../utils/variables" as *;

body {
  font-family: $font-main;
  font-weight: 400;
  margin: 0;
  padding: 0;
  line-height: 1.6;
  color: #000;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-main;
  font-weight: 700;
  margin: 0 0 1rem;
}
